pipeline/pl_lookup_execute.json
{
	"name": "pl_lookup_execute",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "na",
							"table_schema": "na"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_copy_data_db_dw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"table_list": {
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}